<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="../js/vue.min.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model="cent"/>
        <h1 v-if="cent>100">输入有误</h1>
        <h1 v-else-if="cent>=80">优秀</h1>
        <h1 v-else-if="cent>=60">及格</h1>
        <h1 v-else>不及格</h1>
    </div>
    <script>
        var vm=new Vue({
            el:'#app',
            data:{
                cent:90
            }
        })
    </script>
</body>
</html>