<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="../js/vue.min.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="app">
            千米：<input v-model="kmeters" type="text" />
            米：<input v-model="meters" type="text" />
    </div>
    <p id="info" v-html="message"></p>
    <script>
        var vm1=new Vue({
            el:'#info',
            data:{
                message:''
            }
        })
        var vm=new Vue({
            el:'#app',
            data:{
                kmeters:0,
                meters:0
            },
            methods:{

            },
            filters:{

            },
            computed:{

            },
            watch:{
                kmeters:function(val){
                    this.meters=val*1000;
                },
                meters:function(val){
                    this.kmeters=val/1000;
                }

            }
            
        });
        vm.$watch('kmeters',function(newval,oldval){
            vm1.message='修改前值为'+oldval+'修改后值为'+newval;
        })

        
    </script>


    <!-- <div id="app">
        <h1>计数器{{number}}</h1>
        <input type="button" @click="number++" value="点击">
    </div>
    <script>
        var vm=new Vue({
            el:'#app',
            data:{
                number:1
            }
        })
        vm.$watch('number',function(newnum,oldnum){
            if(newnum>5)
            vm.number=oldnum-1;
        })


        // new Vue({
        //     el:'#app',
        //     data:{
        //         number:1
        //     },
        //     watch:{
        //         number:function(newvalue,oldvalue){
        //             if(newvalue>5)
        //             this.number=oldvalue-1;
        //         }
        //     }

        // })
    </script> -->
</body>
</html>